.container.login {
  height: calc(100% - 66px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-container-login {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (min-width: 1024px) {
  .big-container-login {
    width: 40%;
    border: 0.1px solid rgb(230, 230, 230);
    box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
  }
}

@media screen and (max-width: 1200px) {
  .big-container-login {
    width: 50%;
    border: 0.1px solid rgb(230, 230, 230);
    box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
  }
}

@media screen and (max-width: 1024px) {
  .big-container-login {
    width: 70%;
    border: 0.1px solid rgb(230, 230, 230);
    box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
  }
}

@media screen and (max-width: 768px) {
  .big-container-login {
    width: 80%;
    border: 0.1px solid rgb(230, 230, 230);
    box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
  }
}

@media screen and (max-width: 480px) {
  .big-container-login {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}

.login-header {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 10%;
}

.login-text {
  color: $black;
  font-size: 24px;
  font-family: $headers-font;
  justify-self: center;
}

.form-actions.login .btn{
  width: 100%;
  background-color: $black;
  color: $off-white;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
}

.login-btn:hover {
  background-color: $black-hover;
}

.forgot-password-link {
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
}

.forgot-password a {
  color: $dark-gray;
}

.forgot-password a:hover {
  color: $menu-buttons;
}

.signup-action {
  text-align: center;
  color: $black;
  margin-bottom: 10%;
  margin-top: 20%;
}

.signup-link a {
  color: $orange;
  font-weight: 500;
}

.signup-link a:hover {
  color: $orange-hover;
  text-decoration: none;
}
