// Specific CSS for your home-page

.homepage-text {
  background-color: $black;
  border-radius: 5px;
  width: 164px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 250px;

  a {
    color: $off-white;
    font-size: 32px;
  }
  a:hover {
    color: $off-white;
    text-decoration: none;
  }
}

.homepage-text:active {
  background-color: $black-hover; 
}
