.mapboxgl-popup{
  transform:none !important;
  max-width: 100% !important;
  top: 70%;
  height:200px;
}
.popup_img{
  width:100px;
  height:100px;
  border-radius: 10px;
}

.popup_title {
  color: $black;
  font: 700 18px $body-font;
  padding-top: 13px;
  margin-bottom: 2px;
}

.popup-description {
  color: $black;
  font: 300 12px $body-font;
  margin: 5px 0px 0px 0px;
}

.mapboxgl-popup-content{
  padding: 34px 15px 20px 15px;;
  border-radius: 43px 43px 0px 0px;
}
.mapboxgl-popup-close-button{
  display: none !important;
}


.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
    border-radius:50px !important;
}
