.beers-title {
  color: $black;
  font: 900 20px $body-font;
  margin-top: 12px;
}

.card.beers {
  overflow: hidden;
  display: flex;
  border: none;
  margin: 6px 0px 6px 0px;
  img {
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 10px;
  }
}

.card-beer-name {
  color: $black;
  font: 700 18px $body-font;
  width: 90%;
  padding-top: 13px;
  margin-bottom: 2px;
}

.card-beer-category {
  color: $med-gray;
  font: 300 16px $body-font;
  margin: 2px 0px 5px 0px;
}

.card-beer-description {
  color: $black;
  font: 300 12px $body-font;
  margin: 5px 0px 0px 0px;
}

.card-beer-rating {
  color: $black;
  font: 500 20px $body-font;
  padding-top: 13px;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col.beers {
  padding: 0px 15px 2px 0px;
  margin: 0px 0px 2px 0px;
}
