.beer-details {
  background-color: #FFFFFF;
}

.beer-image {
  border-radius: 1px;
  text-align: -webkit-center;
}

.beer-info-top {


  h2 {
    color: #D18411;
    font-size: 16px;
  }
}

.beer-info {

  padding-top: 30px;

  p {
    font-size: 24px;
  }
}


.beer-all-content {
  padding-top: 5px;
}


.beer-description {

}

.beer-reviews {
  p {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }
}

.review-button {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

