<div class="container col-8 mt-5">

  <ul class="list-unstyled">
    <% @beers.each do |beer| %>
    <li class="mt-4">Name: <%= beer.name %></li>
    <li>Category : <%= beer.category %></li>
    <% end  %>
  </ul>
</div>


