.bars-title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 900;
  font-family: $headers-font;
  margin-top: 12px;
  color: $black;
}

.card.bars {
  overflow: hidden;
  display: flex;
  // align-items: center;
  border: none;
  // border-bottom: 1px solid $menu-buttons;
  margin-bottom: 6px;
  margin-top: 6px;
}

.card.bars img {
  object-fit: cover;
  height: 130px;
  border-radius: 10px;
}

.card-bars-name {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  padding-top: 13px;
  margin-bottom: 2px;
  font-family: $headers-font;
}

.card-bars-location {
  font-size: 16px;
  color: $med-gray;
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: $headers-font;
}

.card-bars-description {
  font-size: 12px;
  color: $black;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: $headers-font;
}

.col.bars {
  padding: 0px 15px 2px 0px;
  margin: 0px 0px 2px 0px;
}
