.back-button-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.bars-title {
  color: $black;
  font: 900 20px $body-font;
  padding: 10px 0px 10px 0px;
  margin-top: 12px;
}

.card.bars {
  overflow: hidden;
  display: flex;
  border: none;
  margin: 6px 0px 6px 0px;
  img {
    object-fit: cover;
    height: 130px;
    border-radius: 10px;
  }
}

.card-bars-name {
  color: $black;
  font: 700 18px $body-font;
  padding-top: 13px;
  margin-bottom: 2px;
}

.card-bars-location {
  color: $med-gray;
  font: 300 16px $body-font;
  margin: 2px 0px 5px 0px;
}

.card-bars-description {
  color: $black;
  font: 300 12px $body-font;
  margin: 5px 0px 0px 0px;
}

.col.bars {
  padding: 0px 15px 2px 0px;
  margin: 0px 0px 2px 0px;
}
